.side-panel {
    -fx-background-color: #2887DE;
    -fx-padding: 40;
    -fx-alignment: CENTER;
}

.logo-circle {
    -fx-min-width: 130;
    -fx-max-width: 130;
    -fx-min-height: 130;
    -fx-max-height: 130;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 500;
    -fx-border-color: #353538;
    -fx-border-radius: 500;
    -fx-border-width: 1;
}

.logo-text {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-text-fill: #353538;
}

.brand-title {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.brand-subtitle, .brand-description {
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.9;
}

.form-container {
    -fx-background-color: #353538;
    -fx-padding: 50;
}

.role-header {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.login-card {
    -fx-background-color: #CBCBD4;
    -fx-padding: 30;
    -fx-background-radius: 10;
    -fx-spacing: 15;
}

.btn-primary {
    -fx-background-color: #1D53C2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5;
}

.btn-role {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #353538;
    -fx-text-fill: #353538;
    -fx-cursor: hand;
}